# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets / credentials
creds/
core/credentials.json
core/token.json
.env

# Database files
*.db
*.sqlite
*.sqlite3

# Executables / installers
*.exe
*.msi
*.bat
*.sh

# Logs
*.log

# Temp / backup
*.tmp
*.bak
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
*.lnk

# IDE / Editor
.vscode/
.idea/
*.iml
